<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.halfchess">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logochess"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_logochessround"
        android:supportsRtl="true"
        android:theme="@style/Theme.HalfChess">
        <activity android:name=".SelectDifficultyActivity" />
        <activity android:name=".GameActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>